body {
  margin: 0;
  font-family: 'Bungee', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010a0f;
  text-align: center;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  border: 2px solid #42c4e775;
}
